* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Darker Grotesque';
    color: rgb(0, 23, 50);
    font-size: 2.5rem;
    background-color: rgb(216, 238, 232);
    padding: 1rem;
}

.game-container {
    background-color: yellow;
    width: 484px;
}

.game-panel {
    background-color: rgb(20, 200, 21);
}

.game-board {
    border: 2px solid rgb(0, 23, 50);
    position: relative;
    
}

h1 {
    font-size: 3rem;
}

.score {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}













